
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1600px;
}
 /* start the banner css */
.banner{
    background: url(../images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: 50px auto;
    position: relative;
}
.banner-text{
    color: white;
    width: 1320px;
    height: 600px;
    text-align: center;
    align-items: center;
    background-color: rgba(33, 30, 45, .4);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    border-radius: 16px;
    
	

}
.banner-text h5{
    
    padding-top: 280px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-text h1{
    color:#FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

/* end the banner css */

/* start the off section css */


.newyear-off{
    margin: 0 auto;
    width: 1320px;
    height: 600px;
    padding-bottom: 150px;
}
.off-title h1{
    margin: 0 auto;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 40px;
}
.off-text h5{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.off-text h3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.off-img{
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    margin: 0 auto;
    }


/* end the off section css  */

/* start the party section css */

    .party{    
        padding: 100px 100px 0;
        margin-bottom: 100px;
    }
    .party-content{
        background: url(../images/Vectorrr.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 1320px;
        height: 600px;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .party-text{
        margin: auto 0;
    }
    .party-text h1{
        color: #FFF;
        width: 642px;
        font-family: Merriweather;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 88px;
        letter-spacing: 7px;
    }
    .party-text p{
        width: 697px;
        color: rgba(255, 255, 255, 0.80);
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
    .party-text button{
        background-color: transparent;
        border: none;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        padding: 10px 15px;
        border-radius: 10px;
    }

    .party-text button:hover{
        background-color: #F00;
    }

    .party-img img{
        margin-top: 100px;
        width: 300px;
        height: 400px;
    }
/* end the party section css */

/* place section css start */

    .place-content{
        margin-top: 150px;
        width: 1320px;
        height: 482px;
        margin: 0 auto;
        background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    }

    .place-text{
        text-align: center;
        margin: auto 0;
        padding-top: 150px;

    }
    .place-text-title{
        color: #F00;
        text-align: center;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
        text-transform: capitalize;
    }
    .place-text-heading{
        text-align: center;
        color: #070211;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
        text-transform: capitalize;
       
    }

    .place-btn{
        text-align: center;
    }
    .place-btn button{
        color: #FFF;
        background: #F00;
        text-align: center;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        border-radius: 8px;
        
        border: none;
        padding: 10px 15px;
        border-radius: 10px;
    }
/* place section css end */

/* portfolio css start */

    .Portfolio{
        width: 1320px;
        height: 900px;
        margin: 100px auto;
        padding-bottom: 50px;
    }

    .portfolio-text h4{
        color: #F00;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .portfolio-text h3{
        color: #070211;
        font-family: Merriweather;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: capitalize;
    }

    .portfolio-text p{
        color: rgba(7, 2, 17, 0.60);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
    }

    .portfolio-img1{
        display: flex;
        margin: 20px auto;
    }

    .portfolio-pic1{
        position: relative;
    }

    .portfolio-pic1 a{
        color: #FFF;
        text-decoration: none;
        background-color: transparent;
        border: 2px solid #F00;
        font-size: 15px;
        font-family: Inter;
        border-radius: 15px;
        padding: 8px 10px;

    }

    .portfolio-pic1 img{
        width: 420px;
        height: 400px;
        margin-right: 30px;
        flex-shrink: 0;
        text-align: center;
    }

    .portfolio-pic1-overlay{
        border-radius: 16px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 420px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: auto 0;
        opacity: 0;
        transition: .5s;
        overflow-y: hidden;
    }

    .portfolio-pic1:hover .portfolio-pic1-overlay{
        opacity: .7;
    }


    .portfolio-img2{
        display: flex;
    }

    .portfolio-pic2 img{
        width: 420px;
        height: 400px;
        margin-right: 30px;
        flex-shrink: 0;
    }

    .portfolio-pic2{
        position: relative;
    }

    .portfolio-pic2 a{
        color: #FFF;
        text-decoration: none;
        background-color: transparent;
        border: 2px solid #F00;
        font-size: 15px;
        font-family: Inter;
        border-radius: 15px;
        padding: 8px 10px;

    }

    .portfolio-pic2-overlay{
        border-radius: 16px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 420px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: auto 0;
        opacity: 0;
        transition: .5s;
        overflow-y: hidden;
    }

    .portfolio-pic2:hover .portfolio-pic2-overlay{
        opacity: .7;
    }



/* portfolio css end */


/* newsletter css start */
    
    .newsletter{
        width: 1320px;
        height: 600px;
        border-radius: 16px;
        background: rgba(255, 0, 0, 0.05);
        flex-shrink: 0;
        margin: 0 auto;
    }
    .newsletter-content{
        margin: auto;
        text-align: center;
    }

    .newsletter-img img{
        width: 150px;
        height: 150px;
        flex-shrink: 0;
        margin-top: 120px;
    }

    .newsletter-text h3{
        color: #070211;
        text-align: center;
        font-family: Merriweather;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: capitalize;
    }

    .newsletter-text p{
        width: 896px;
        color: rgba(7, 2, 17, 0.60);
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        margin: auto;
    }
    .newsletter-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 648px;
        height: 72px;
        margin: 0 auto;
    }

    .newsletter-form{
        text-align: center;
        margin: 0;
}

    .newsletter-form input,
    .newsletter-form button {
        display: inline-block;
        vertical-align: middle;
}
    .newsletter-form input{
        padding: 8px;
        font-size: 16px;
        border-right: none;
        margin: 0;
        border: 2px solid #fff;
        border-radius: 20px 0px 0px 20px;

}

    .submit-btn{
        background-color: #F00;
        border-radius: 0px 20px 20px 0px;
        border-left: none;
        padding: 10px;
        font-size: 16px;
        color: white;
        border: none;
        cursor: pointer;
        margin: 0;
    }

/* newsletter css end */

/* footer css start */

    .footer-content{
        background: #070211;
        width: 1520px;
        height: 500px;
        flex-shrink: 0;
        margin-top: 120px;
    }

    .footer-contact{
        width: 1320px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding-top: 120px;

    }

    .footer-address{
        text-align: left;
        
    }

    .footer-address p{
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
    }

    .footer-phn{
        display: flex;
    }

    .footer-phn img{
        width: 20px;
        height: 20px;
        flex-shrink: 0;
    }

    .footer-phn p{
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
    }

    .footer-web{
        display: flex;
    }


    .footer-web img{
        width: 20px;
        height: 20px;
        flex-shrink: 0;
    }
    .footer-web p{
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
    }

    .footer-social{
        width: 1320px;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: auto;
        padding-top: 50px;
    }
    .footer-social a{
        text-decoration: none;
    }

    .footer-reserved{
        width: 1320px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding-top: 50px;
    }

    .footer-all p{
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .footer-unsubscribe a{
        text-decoration: none;
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }


/* footer css end */